<h2 class="center">Create a new drone</h2>

<div class="form">

    <form action="/drones/create" method="post">

        <label for="name">Name: </label>
        <input type="text" name="name">

        <label for="propellers">Propellers: </label>
        <input type="number" name="propellers">

        <label for="maxSpeed">Max Speed: </label>
        <input type="number" name="maxSpeed">

        <button type="submit">Submit</button>

    </form>

</div>